<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регестрація</title>
</head>
<body>
<form action="/registration/reg/" method="post">
    {%csrf_token%}
    <h1>САЙТ РЕГЕСТРАЦІЇ</h1>
    Ваш нікнейм <input type="text" name = "name"><br>
    Ваша почта <input type="text" name = "email"><br>
    Ваш пароль <input type="text" name = "password"><br>
    <input type="radio" name="gender" value="male">Чоловічий<br>
    <input type="radio" name="gender" value="female">Жіночий<br>
    <button type="submit">Регеструватися</button><br>
</form>

</body>
</html>