<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Коментарі</title>
</head>
<body>
<center><h1>Вітаємо в нашому магазині!</h1></center>
<center><img src="apple.jpg" alt="zsd" height="589" width="822"></center>
<center><i>Продукт: яблуко</i></center>
<center><i>Свіжий фрукт, не дорого.<b> 59 грн за кілограм!</b></i></center>
<center><i>Номер телефона продавця: +380 000 000 00 00</i></center>
<form action="/products/new_comment/" method="post">
    {% csrf_token %}
    <center>Ваш коментарій <input type="text" name = "comment"></center><br>
    <center>Ваш емеіл <input type="text" name = "email"></center><br>
    <center>Бал <input list="character" name = 'ball'>
   <datalist id="character">
       <option value="0"></option>
       <option value="1"></option>
       <option value="2"></option>
       <option value="3"></option>
       <option value="4"></option>
       <option value="5"></option>
   </datalist></center><br>
    <center><button type="submit">Enter</button></center><br>
</form>

</body>
</html>