<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Коментарі</title>
</head>
<body>
<center><img src="apple.jpg" alt="zsd" height="589" width="822"></center>
<center><i>Продукт: яблуко</i></center>
<center><i>Свіжий фрукт, не дорого.<b> 59 грн за кілограм!</b></i></center>
    {%csrf_token%}
      <center>Коментарій: {{c}}</center><br>
      <center>Email: {{e}}</center><br>
    {%for a in i%}
      <center>Бал: {{a}}</center><br>
    {%endfor%}
</form>

</body>
</html>